#todo-box{

				min-height: 400px;}

#todo-box li{

				margin-top: 10px;

				position: relative;

}

#todo-box li i{

    cursor:pointer;

				position: absolute;

				right: 10px;

				top: 15px;

}

.done{

				background: aqua;

				text-decorate: line-through;

}
